body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.parent-container{
    width: 500px;
    height: 500px;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-top: 70px;
}

.parent-container input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.parent-container .btn{
    outline: none;
    border: none;
}

.parent-container p{
    font-weight: bolder;
}